@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .banner-img {/*
        background: linear-gradient(90deg, #6d040f, #fcc456);

        The background will be replaced by a banner once it will be available*/
        background-image: url("../images/4.jpg");
        background-size: 100%;
    }

    .footer-banner-img {/*
        background: linear-gradient(90deg, #6d040f, #fcc456);

        The background will be replaced by a banner once it will be available*/
        background-image: url("../images/6.jpg");
        background-size: 100%;
        background-position: bottom;
    }

    .gradient {
        background: linear-gradient(90deg, #6d040f, #fcc456);
    }
}