@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .banner-img {/*
        background: linear-gradient(90deg, #6d040f, #fcc456);

        The background will be replaced by a banner once it will be available*/
        background-image: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,0)),url("../images/4.jpg");
        background-size: 100%;
        background-position-y: 20%;
    }

    .footer-banner-img {/*
        background: linear-gradient(90deg, #6d040f, #fcc456);
        The background will be replaced by a banner once it will be available*/
        background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)),url("../images/6.jpg");
        background-size: 100%;
        background-position-y: 40%;
    }

    .gradient {
        background: linear-gradient(90deg, #006c95, #2095b8);
    }
}